<div class="container-4">
  <div class="container">
    <h1>Development Milestones</h1>
    <h2 class="body-block-text">
      We have mapped out the revenue needed in order to build out our platforms and features. When we hit specific
      revenue goals through this token sale we will be able to deliver on the following milestones.
    </h2>
    <div class="spacer">
      <app-goal-1></app-goal-1>
    </div>
    <div class="spacer">
      <app-goal-2></app-goal-2>
    </div>
    <div class="text-wrapper">
      <p>
        Blockstart is a blockchain platform aimed to empower developers & <br> businesses to easily
        build blockchain applications.
      </p>
    </div>
    <div class="btn-wrapper">
      <a [href]="goalsRoute">
        <button class="btn-main">View all goal details</button>
      </a>
    </div>
  </div>
</div>
