<app-payment-option-info [infoHeader]="paymentInfo?.header" [infoBody1]="paymentInfo?.body1"
                         [infoBody2]="paymentInfo?.body2"
                         [btnText]="paymentInfo?.btnText">
  <div class="custom-control custom-checkbox">
    <input type="checkbox"
           class="custom-control-input"
           [(ngModel)]="termsAccepted"
           id="customCheck1"
           (click)="onTermsAccepted()">
    <label class="custom-control-label" for="customCheck1">I understand and wish to proceed</label>
  </div>
  <div class="btn-continue-wrapper">
    <button class="btn-main"
            [ngClass]="{'fetching': fetchingUrl === true}"
            [disabled]="!termsAccepted"
            (click)="onPayClicked()">{{paymentInfo?.btnText}}</button>
    <button class="btn-main danger" (click)="onCancelClicked()">Cancel</button>
  </div>
</app-payment-option-info>
