<div class="payment-options-wrapper">
  <h3>Select a payment option:</h3>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="tab-wrapper disabled" [class.active]="isSelected(paymentType.usd)">
      <div class="tabs">USD<br/>(Coming Soon)</div>
      <img src="../../../../../assets/usd-icon.svg" alt="">
    </div>
    <div class="tab-wrapper" [class.active]="isSelected(paymentType.coinbase)" (click)="setTab(paymentType.coinbase)">
      <div class="tabs">Coinbase</div>
      <app-coinbase-icons></app-coinbase-icons>
    </div>
    <div class="tab-wrapper" [class.active]="isSelected(paymentType.wallet)" (click)="setTab(paymentType.wallet)">
      <div class="tabs">Wallet Transfer</div>
      <app-wallet-transfer-icons></app-wallet-transfer-icons>
    </div>
  </div>
  <div class="options-container" [ngSwitch]="tab">
    <app-usd [ngSwitch]="tab"
             *ngSwitchCase="paymentType.usd"
             [cacheAmount]="cacheAmount"
             [recipientAddress]="recipientAddress"></app-usd>
    <app-kyc-form [ngSwitch]="tab"
                  *ngSwitchCase="paymentType.coinbase"
                  [cacheAmount]="cacheAmount"
                  [recipientAddress]="recipientAddress"
                  (complianceSent)="onComplianceSent(paymentType.coinbase)"></app-kyc-form>
    <app-kyc-form [ngSwitch]="tab" *ngSwitchCase="paymentType.wallet"
                  [cacheAmount]="cacheAmount"
                  [recipientAddress]="recipientAddress"
                  (complianceSent)="onComplianceSent(paymentType.wallet)"></app-kyc-form>
  </div>
</div>
