<div class="container-4 split-color-bottom-top">
  <div class="container">
    <div class="block-text">
      <h1 class="header-block-text">Get in on the ground floor.</h1>
      <h2 class="body-block-text">
        With a network of over <strong>275,000 developers worldwide and 2 products in development</strong>, we’re in
        a unique position to make blockchain easily accessible for developers and businesses.
      </h2>
      <div class="products-btn-wrapper">
        <a [href]="productsUrl">
          <button class="btn-main">View all our products</button>
        </a>
      </div>
    </div>
    <div class="body-block-img">
      <img src="../../../../assets/ground-floor-image.svg" alt="">
    </div>
  </div>
</div>

