$main-bg: #19173F;
$primary: #3D3B80;
$primary-light: #64abfc;
$primary-dark: #282757;
$btn-default: #615FC1;
$secondary: #54A3FF;
$btn-primary: #4A56E2;
$btn-primary-light: #5A84E2;
$btn-primary-lighter: #639CE3;
$btn-primary-lightest: #63B7E3;
$btn-secondary: #69D2A9;
$grey-light: #e8eaf5;
$grey-lighter: #F5F7FF;
$white: #FFFFFF;
$branded-blue: #48ABFF;
$branded-red: #dc3545;

$font-regular: 'Source Sans Pro Regular';
$font-bold: 'Source Sans Pro Bold';
$font-semi-bold: 'SourceSansPro-SemiBold';
$font-light: 'Source Sans Pro light';

$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-35: 2.2rem;
$font-40: 2.5rem;
$font-50: 3.125rem;
