<div>
  <span class="goal-line"></span>
  <div class="goal-wrapper">
    <div class="milestone">
      <img src="../../../assets/free-icon.svg" alt="free icon">
      <div class="goal-amount">Free</div>
      <div class="goal-tools">Cache Javascript SDK</div>
    </div>
    <div class="milestone">
      <img src="../../../assets/500k-icon.svg" alt="free icon">
      <div class="goal-amount">500k</div>
      <div class="goal-tools">Powerful Mobile<br>Cache Wallets</div>
    </div>
    <div class="milestone">
      <img src="../../../assets/1MM-icon.svg" alt="free icon">
      <div class="goal-amount">1MM</div>
      <div class="goal-tools">Cacheout Platform &<br>Devslopes Open Source</div>
    </div>
    <div class="milestone">
      <img src="../../../assets/2MM-icon.svg" alt="free icon">
      <div class="goal-amount">2MM</div>
      <div class="goal-tools">Payment Gateway SDK</div>
    </div>
  </div>
</div>
