  <div class="container">
    <div class="blockstart-img-wrapper">
      <img class="dashboard-img"
           src="../../../../assets/product-assets/cacheout-home.png"
           alt="Blockchain Blockstart Dashboard">
    </div>
    <div class="blockstart-text">
      <h1 class="header-block-text">Cacheout</h1>
      <h2 class="body-block-text">
        Cacheout is a currency-backed economy to regulate effective Q&A for developers
      </h2>
      <p class="link">Visit <a [href]="cacheoutLink" target="_blank">Cacheout.io</a></p>
    </div>
  </div>

