<div class="container-4 split-color-bottom-top">
  <div class="container">
    <div class="block-text">
      <h1 class="header-block-text">Token Distribution</h1>
      <h2 class="body-block-text">
        The total volume of Cache tokens is <strong>1,000,000,000.</strong> Cache will be sold through a private VIP
        sale, followed by a private sale, and then will be opened up to the general public.
      </h2>
      <div class="timeline-wrapper">
        <div class="timeline-sales">
          <span class="sales-titles vip">VIP Sale</span>
          <span class="sales-titles private">Private Sale</span>
          <span class="sales-titles public">Public Sale</span>
          <span class="sales-titles ends">Sale Ends</span>
        </div>
        <img class="timeline-icon" src="../../../../assets/timeline-bar.svg" alt="development timeline progress bar">
        <div class="timeline-dates">
          <span class="date-title vip">5/28 - 6/11</span>
          <span class="date-title private">6/11 - 7/25</span>
          <span class="date-title public">7/25 - 8/31</span>
        </div>
      </div>
      <div class="block-text-2">
        <img class="seal" src="../../../../assets/US-FinancialCrimesEnforcementNetwork-Seal.svg"
             alt="US Financial Crimes Enforcement Network Seal">
        <h1 class="header-block-text">United States Compliance</h1>
        <h2 class="body-block-text">
          Cache will be one of the <strong>first legal token sales within the United States,</strong> and will be
          registered with the United States Financial Department & Crimes Division to be legally exchanged.
        </h2>
      </div>
    </div>
    <div class="body-block-img">
      <div class="pie-info founding">
        <div class="percent">10%</div>
        <div class="data">Founding Team & <br>Advisers</div>
      </div>
      <div class="pie-info reserve">
        <div class="percent">10%</div>
        <div class="data">Reserve</div>
      </div>
      <div class="pie-info incubator">
        <div class="percent">10%</div>
        <div class="data">Community Developer <br>Incubator Fund</div>
      </div>
      <img class="graph-icon" src="../../../../assets/pie-chart.svg" alt="token distribution pie chart">
      <div class="pie-info product">
        <div class="percent">70%</div>
        <div class="data">Token Sale <br>for Product Development</div>
      </div>
    </div>
  </div>
</div>

