<div>
  <span class="goal-line"></span>
  <div class="goal-wrapper">
    <div class="milestone">
      <img src="../../../assets/5MM-icon.svg" alt="5mm goal icon">
      <div class="goal-amount">5MM</div>
      <div class="goal-tools">Blockstart B2B iOS,<br>Android, & Unity SDK</div>
    </div>
    <div class="milestone">
      <img src="../../../assets/7.5MM-icon.svg" alt="7.5mm goal icon">
      <div class="goal-amount">7.5MM</div>
      <div class="goal-tools">Community Developer<br>Incubator Fund</div>
    </div>
    <div class="milestone" id="blockstart-goal">
      <img src="../../../assets/10MM-icon.svg" alt="10mm goal icon">
      <div class="goal-amount">10MM</div>
      <div class="goal-tools">Blockstart Public<br>Blockchain</div>
    </div>
  </div>
</div>
