<div class="container-4">
  <div class="container">
    <div class="body-block-img">
      <img src="../../../../assets/appDemo.gif" alt="">
      <p>Actual footage of our demo app <br> creating a cryptocurrency <br> <span>(Consensus 2018)</span></p>
    </div>
    <div class="block-text">
      <h1 class="header-block-text">Blockchain development shouldn't be rocket science.</h1>
      <h2 class="body-block-text">Currently, blockchain development is complicated and confusing. We’re working on
        several products and services that will <strong>have you up and running on blockchain in minutes.</strong>
      </h2>
    </div>
  </div>
</div>

