<h1 class="first-time">First time buying a token or cryptocurrency? </h1>
<a class="walk-through"
   [href]="tutorialUrl"
   target="_blank">
  View our walk-through on how to get Cache
</a>
<div class="summary-container">
  <div class="summary-info">
    <form>
      <div class="wallet-address">
        <h1 class="font-light">1. Enter your Cache Wallet Address</h1>
        <div class="input-wrapper">
          <input [(ngModel)]="walletAddress"
                 type="text"
                 placeholder="Wallet Address"
                 [ngModelOptions]="{standalone: true}">
        </div>
        <p class="font-light">
          If you do not have a Cache wallet, you can
          <a [href]="cacheWalletUrl"
             target="_blank">
            download & set one up here
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
<div class="buy-btn-wrapper">
  <button class="btn-main xem-btn"
          (click)="purchaseClicked()"
          [ngStyle]="{'opacity': (!walletAddressValid || !product.isEnabled) ? 0.5 : 1}"
          [disabled]="!walletAddressValid || !product.isEnabled">
    Continue
  </button>
</div>

