<div class="container-4">
  <div class="container">
    <div class="body-block-img">
      <div class="icon-wrapper">
        <img src="../../../../assets/developer-focused.svg" alt="developer focused">
      </div>
    </div>
    <div class="block-text">
      <h1 class="header-block-text">100% Developer focused.</h1>
      <h2 class="body-block-text">Most blockchain networks don’t support the platforms that matter most.</h2>
      <h2 class="body-block-text">
        We have a developer-first focus. We will never release a product or tool that isn’t easy to use for
        developers and end-users.
      </h2>
      <h2 class="body-block-text">
        We also believe in education and good documentation. Devslopes will provide training, tutorials, and
        documentation for Cache, Cacheout, and Blockstart.
      </h2>
      <div class="products-btn-wrapper">
        <a [href]="sdkUrl" target="_blank">
          <button class="btn-main">Try the Javascript SDK</button>
        </a>
      </div>
    </div>
  </div>
</div>

