<div class="container-4">
  <div class="container">
    <div class="block-text">
      <h1 class="header-block-text font-bold">The Technology: <br>Why we choose NEM</h1>
      <h2 class="body-block-text font-light">
        NEM is a proven blockchain technology that shares our developer-first focus. NEM is a high performance
        blockchain with a unified vision & community.
      </h2>
      <h2 class="body-block-text bold">
        We are happy to contribute to NEM open source and build our entire technology stack on top of their ecosystem.
      </h2>
      <div class="products-btn-wrapper">
        <a [href]="nemLink" target="_blank">
          <button class="btn-main">Learn more about NEM</button>
        </a>
      </div>
    </div>
    <div class="container-2">
      <div class="body-block-img">
        <img src="../../../../assets/xem-on-platform.svg" alt="">
      </div>
    </div>
  </div>

</div>

