<div class="container-4">
  <div class="container">
    <div class="block-text">
      <h1 class="header-block-text">Blockstart</h1>
      <h2 class="body-block-text">
        Blockstart is a blockchain platform aimed to empower developers & businesses to easily build blockchain
        decentralized applications.
      </h2>
      <p class="link">Visit <a [href]="blockstartLink" target="_blank">Blockstart.io</a></p>
    </div>
    <div class="body-block-img">
      <img class="dashboard-img"
           src="../../../../assets/product-assets/blockstart-dashboard.png"
           alt="Blockchain Blockstart Dashboard">
    </div>
  </div>
</div>
