<div class="split-color-top-sharp split-color-bottom-grey">
  <div class="container">
    <div class="block-text">
      <h1 class="header-block-text">Get started in minutes. Literally.</h1>
    </div>
    <div class="screenshot-container">
      <div class="screenshot-img-wrapper">
        <div class="img-wrapper">
          <img src="../../../../assets/product-assets/get-started-1.png" alt="">
        </div>
        <div class="img-wrapper">
          <img src="../../../../assets/product-assets/get-started-2.png" alt="">
        </div>
      </div>
      <div class="screenshot-img-wrapper">
        <div class="img-wrapper">
          <img src="../../../../assets/product-assets/get-started-3.png" alt="">
        </div>
        <div class="img-wrapper">
          <img src="../../../../assets/product-assets/get-started-4.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <hr class="line">
