<div class="container-4 split-color-bottom-top">
  <div class="container">
    <div class="body-block-img">
      <img src="../../../../assets/product-assets/onboarding-macbook-pro.png" alt="Onboarding MacBook Pro">
    </div>
    <div class="block-text">
      <h1 class="header-block-text">Key Features</h1>
      <ul>
        <li>Have your own Blockchain running in minutes</li>
        <li>Create digital assets with one click</li>
        <li>Custom dashboard & analytics</li>
        <li>Transaction management systems</li>
        <li>Seamless onboarding</li>
        <li>Developer toolbox with SDKs & more</li>
      </ul>
    </div>
  </div>
</div>

