<div class="container-4 split-color-bottom-top-blue">
  <div class="container">
    <div class="question-container">
      <div class="question-box">
        <div class="question-header">
          <img src="../../../../assets/product-assets/ask-questions.svg" alt="">
          <span class="question-title">Ask Questions</span>
        </div>
        <ul class="q-bullets">
          <li>Ask code questions you need answers for</li>
          <li>Set a bounty for the best answer</li>
          <li>Developers will compete to give the best answer</li>
          <li>The user picks and rewards the best answer</li>
        </ul>
      </div>
      <div class="question-box">
        <div class="question-header">
          <img src="../../../../assets/product-assets/ask-questions.svg" alt="">
          <span class="question-title">Answer Questions</span>
        </div>
        <ul class="q-bullets">
          <li>Browse questions by language, difficulty, or bounty amount</li>
          <li>Answer questions! If you are selected by the bounty date you will be awarded Cache</li>
        </ul>
      </div>
    </div>
    <div class="form-container">
      <img class="form-img" src="../../../../assets/product-assets/cacheout-form.png" alt="">
    </div>
  </div>
</div>
